<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form #authForm="ngForm" (ngSubmit)="onFormSubmit(authForm)">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" ngModel name="email" required email #email="ngModel" />
                    <div class="help-text" *ngIf="!email.valid && email.touched">
                        <div *ngIf="email.errors?.['required']">Email is required
                        </div>
                        <div *ngIf="email.errors?.['email']">Please enter valid email
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" ngModel name="password" required minlength="6"
                        #password="ngModel" />
                    <!-- <div>{{ passwordErrors }}</div> -->
                    <div class="help-text" *ngIf="!password.valid && password.touched">
                        <div *ngIf="password.errors?.['required']"> Password is required!</div>
                        <div *ngIf="password.errors?.['minlength']"> Password should be length of 6 characters</div>
                    </div>
                </div>
                <div class="mt-4">
                    <button [disabled]="!authForm.valid" type="submit"
                        class="btn btn-primary">{{isLoginMode?'Login':'Signup'}}</button> |
                    <button type="button" class="btn btn-primary mr-2" (click)="onSwitchMode()">Switch to
                        {{isLoginMode?'Signup':'Login'}}</button>
                </div>
            </form>
        </div>
    </div>
</div>