<app-add-user (userAdded)="onUserAdded($event)"></app-add-user>
<div class="mt-3">
    <h3>Users List</h3>
    <button class="btn btn-primary" (click)="onNameChange()">Change Name</button>
    <button class="btn btn-danger" (click)="deleteUser()">Delete User</button>
    <app-user *ngFor="let user of usersList" [user]="user" [name]="name">
        <p #userParagraph>User Name : {{user}}</p>
    </app-user>
</div>

<p appHighlightText>Added background color using custom directive </p>

<div appRendererHighlight>Added background color using Renderer2 on directive</div>